<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="e74e65a0-5a40-4e14-ab52-af464c9a2dbf" name="v1 Test Suite" xmlns:con="http://eviware.com/soapui/config">
  <con:description>The test suite generated for the REST service [Smartbear Calculator]</con:description>
  <con:settings>
    <con:setting id="e74e65a0-5a40-4e14-ab52-af464c9a2dbffileName">v1-Test-Suite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="72e8ddf9-866d-40ee-ad85-d93604437d7c">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
